@import "tailwindcss";

@theme {
  --font-display: "Geologica", "sans-serif";
}

@layer utilities {
  .animate-in {
    animation-fill-mode: both;
  }

  .slide-in-from-top {
    animation-name: slideInFromTop;
  }

  .slide-in-from-bottom {
    animation-name: slideInFromBottom;
  }

  .animate-fade-pulse {
    animation: fade-pulse 2s ease-in-out infinite;
  }

  .duration-200 {
    animation-duration: 200ms;
  }

  .duration-300 {
    animation-duration: 300ms;
  }

  .duration-700 {
    animation-duration: 700ms;
  }

  .delay-100 {
    animation-delay: 100ms;
  }

  .delay-200 {
    animation-delay: 200ms;
  }

  .delay-300 {
    animation-delay: 300ms;
  }
}

@layer base {
  /* Scrollbar global mais discreta */
  html {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  }

  html::-webkit-scrollbar {
    width: 8px;
  }

  html::-webkit-scrollbar-track {
    background: transparent;
  }

  html::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
  }

  html::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.0);
  }
}

@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fade-pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
}

